/* body {
    background-color: blue !important;
}

*/
#newObject {
    position: absolute;
    top: 50%;
    right: 0;
    height: 100px;
    width: 100px;
    z-index: 1;
}

.rainbow {
    animation: rainbow 2s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }

    15% {
        background-color: orange;
    }

    30% {
        background-color: yellow;
    }

    45% {
        background-color: green;
    }

    60% {
        background-color: blue;
    }

    75% {
        background-color: indigo;
    }

    90% {
        background-color: purple;
    }
}